<div class="page-header">
  <h3>Follow Request #<%= @follow_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd><%= @follow_request.sender_id %></dd>

      <dt>Recipient</dt>
      <dd><%= @follow_request.recipient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/follow_requests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @follow_request.sender %>
        <a href="/follow_requests/<%= @follow_request.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_follow_request/<%= @follow_request.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
